
<!-- The Modal -->

<div class="modal" id="LoginModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="post" action="" id="login-form">
            {% csrf_token %}
            <div class="form-group">
    <label for="name">User Name</label>
    {{ login_form.username }}
  </div>
  <div class="form-group" id="pass">
    <label for="phone">password</label>
    {{ login_form.password }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
          <div class="errors">

          </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
                    <a href="" class="btn btn-primary">Sign-Up</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="close_button_login">Close</button>
      </div>
<script type="text/javascript">
            // Submit post on submit
$('#login-form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_post();
});

function create_post() {
    console.log("create post is working!") // sanity check
    $.ajax({
        url : "{% url 'login' %}", // the endpoint
        type : "POST", // http method
        data : { username : $('#id_username').val(), password: $('#id_password').val(), csrfmiddlewaretoken: '{{ csrf_token }}'}, // data sent with the post request

        // handle a successful response
        success : function(json) {
            $('#id_username').val('');
             $('#id_password').val('');
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
            $("#close_button_login").click()
            window.

        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            $(".msg").remove()
            $(".errors").append("<p class='msg d-flex justify-content-center' style='color:red'>Wrong UserName/Password</p>")


        }
    });
};

</script>
    </div>
  </div>
</div>
