{% extends 'base.html' %}
{% load static %}
{% load Tags %}


{% block title %}
Welcome
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 15vh;">
    <h4 style="text-align: center;margin-bottom: 5vh">Images</h4>
    <div class="row">
        {% for img in product.image_set.all %}
            <!--Card-->
            	<div class="col-sm-4 mx-auto">
          <div class="card">
  <img class="card-img-top" src="/{{ img.image.url }}" alt="Card image">
 <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{ img.name }}</h5>
                </a>
  </div>
</div>
                </div>
          {% endfor %}
      </div>
</div>
<div class="container d-flex justify-content-center" style="margin-top:5vh;">

                <h4 class="font-weight-bold blue-text">
               <strong>Rs.{{ product.price }}</strong> <span class="badge badge-pill danger-color">Offer!</span>
                </h4>

</div>
<div class="container d-flex justify-content-center">

    <button class="btn btn-info mt-5" data-toggle="modal" data-target="#myModal"><strong style="font-size: large">Interested?</strong></button>

</div>
    <div class="container" style="margin-top: 5vh">
    <h5 style="text-align: center">{{ product.description }}</h5>
</div>



{% contact %}

{% endblock %}